# =========================
# ENVIRONNEMENT PYTHON
# =========================
venv/
.env

# =========================
# CACHE PYTHON
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# DONNÉES SENSIBLES (TRÈS IMPORTANT)
# =========================
data/
uploads/
*.db

# =========================
# FICHIERS GÉNÉRÉS
# =========================
output/
signatures/

# =========================
# OS / SYSTÈME
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE / EDITEURS
# =========================
.vscode/
.idea/

# =========================
# LOGS
# =========================
*.log